.messagebox{
  border:solid 1px #ccc;
  margin:10px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.messagebox:hover{
  background: #ecf6fd
}
.messagebox>span{

  border:solid 1px #fff;
  display:block;
  padding:16px;

}
.messagebox>span:nth-child(1){
  min-width:120px;
  text-align:center;
}

.messagebox>span:nth-child(1)>i{
  display: block;
  width:50px;
  height:50px;
  border:solid 1px #ccc;
  margin:10px auto;
  background: url('/images/header.jpg');
  background-size:500%;
}

.messagebox>span:nth-child(1) .head1{
   background-position: 50px 50px;
}
.messagebox>span:nth-child(1) .head2{
  background-position: 100px 50px;
}

.messagebox>span:nth-child(2){
  flex-grow:1;
}
.messagebox>span:nth-child(2)>p{
 min-height: 70px;
}
.messagebox>span:nth-child(2)>dl{
  border-top:solid 1px #ccc;
  display: flex;
  justify-content:space-between;
}
.messagebox>span:nth-child(2)>dl>dt{
  margin-top: 10px;
}

.list{
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  top:0;
  overflow: auto;
}

.listbox{
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  top:0;
  overflow: auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.forderbox{
  border:solid 1px #fff;

  width:120px;
  height:127px;
  margin:5px;
  position: relative;
}
.forderbox>i{
  margin: 33px 10px 0 28px;
  display:block;
  width:84px;
  height:58px;
  background:url('/images/Folder_54_fe544cc.png');
  background-repeat: no-repeat;
}
.forderbox>.forderavd{
  margin: 38px 10px 0 28px;
  display:block;
  width:84px;
  height:54px;
  background:url('/images/card_54_b068d33.png');
  background-repeat: no-repeat;
}
.forderbox>.doc{
  margin: 38px 10px 0 28px;
  display:block;
  width:54px;
  height:53px;

  background:url('/images/timg.jpg');
  background-repeat: no-repeat;
  background-position: -104px -120px;
  background-size:500%;
}
.forderbox>.zip{
  margin: 38px 10px 0 28px;
  display:block;
  width:54px;
  height:53px;

  background:url('/images/timg.jpg');
  background-repeat: no-repeat;
  background-position: -104px -178px;
  background-size:500%;
}

.forderbox>div{
  text-align: center;
}
.forderbox:hover{
  border:solid 1px #f1faf5;
  border-radius:5px;
  background: #f1faf5;
}

.border-layout{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
}

.border-layout .top{
  position:relative;
  left:0;
  right:0;
  height:200px;
}
.border-layout .center{
  position:absolute;
  margin-top:200px;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.border-layout .left{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
}
.border-layout .right{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
}
.tab{
  position: absolute;
}
.tab>.bar{
  display: inline-block;
  line-height: 40px;
}
.tab>.bar a{
  display: block;
  line-height: 40px;
  padding:0 20px;
}
.tab>.bar .active{
  background: #0e77ca;
  color:#fff;
}
.tab>.bar a:hover{
  background: #c3ddff;
  color:#fff;
}
.baner{
  width:100%;
  height:70px;
  -moz-box-shadow:2px 2px 5px #868686;
  -webkit-box-shadow:2px 2px 5px #a4a4a4;
  box-shadow:2px 2px 5px #cecece;
  border-bottom:solid 1px #b9b9b9;
  background: #2b1c7f;

}

.infobox{
  width:250px;
  height:155px;
  border:solid 1px #e3e3e3;
  margin:8px 0 8px 16px ;
  padding:16px;
  background: #fff;
  border-radius: 5px;
}
.infobox h2{
  font-size:14px;
  color: #6c6c6c;
}
.infobox h1{
  font-size:50px;
  color: #000;
}
